:root {
  font-family: Rajdhani, sans-serif;

  --main-color: lightsteelblue;
  --main-color: steelblue;
  --main-color: lightskyblue;
  --main-color: cornflowerblue;
  --toned-color: lightsteelblue;
  --light-color: aliceblue;

  --bg-color: white;
  --font-color: #3b4856;
  --font-color-inv: white;

  --very-fast: 150ms;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* --toned-color: steelblue; */
    --light-color: #9fadbd;

    --bg-color: #3b4856;
    --font-color: white;
    /* --font-color-inv: #3b4856; */
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  position: relative;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--toned-color) var(--light-color);
}

#app {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-inline: 1rem;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  color-scheme: light dark;
}

hr {
  border: none;
  border-top: solid 1px var(--toned-color);
  width: 100%;
}

:is(button, .button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8ch;

  margin: 1px;
  border: none;
  border-radius: 0.6ch;
  padding: 1ch 1.6ch;
  width: max-content;

  color: var(--font-color);
  background-color: var(--bg-color);
  line-height: 1;

  transition-property: color, background-color, filter, box-shadow;
  transition-duration: var(--very-fast);
}

:is(button, .button).text-btn {
  padding: 0.5ch 1ch;
}

:is(button, .button).light {
  background-color: var(--light-color);
}

:is(button, .button).toned {
  background-color: var(--toned-color);
}

:is(button, .button).cta {
  color: var(--font-color-inv);
  background-color: var(--main-color);
}
:is(button, .button):where(.switch) {
  border-block: solid 1px var(--toned-color);
}
:is(button, .button):where(.switch):where(:has(:checked), .active) {
  border: none;
  border-block: solid 2px var(--toned-color);
  background-color: var(--light-color);
  font-weight: 700;
}

:is(button, .button):hover:not(:disabled) {
  /* color: var(--font-color); */
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px 0px var(--toned-color);
  filter: hue-rotate(180deg);
  /* filter: saturate(0.6); */
}

:is(button, .button):disabled {
  filter: contrast(0.3) brightness(1.5);
  cursor: default;
}
